.navbara:focus {
  outline: none;
  position: relative;
}
.navbara:focus:after {
  width: 50px;
}
.navbara:after {
  content: "";
  background: #FBFBFB;
  position: absolute;
  bottom: 5px;
  left: 15px;
  height: 3px;
  width: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}
.menu > ol {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.menu > ol > li {
  background: #fff;
  color: #353535;
  border-left: 5px solid var(--gradient-color);
  margin-bottom: 1px;
  position: relative;
  transition: 0.5s;
}
.menu > ol > li:nth-child(1) {
  --accent-color:#C1FFE4;
  --gradient-color:#79FF79;
}
.menu > ol > li:nth-child(2) {
  --accent-color:#ADFEDC;
  --gradient-color:#53FF53;
}
.menu > ol > li:nth-child(3) {
  --accent-color:#7AFEC6;
  --gradient-color:#CCFF80;
}
.menu > ol > li:nth-child(4) {
  --accent-color:#79FF79;
  --gradient-color:#C2FF68;
}
/* .menu > ol > li:nth-child(5) {
  --accent-color:#53FF53;
  --gradient-color:#B7FF4A;
} */
.menu > ol > li:nth-child(5) {
  --accent-color:#7AFEC6;
  --gradient-color:#CCFF80;
}
.menu > ol > li:nth-child(6) {
  --accent-color:#ADFEDC;
  --gradient-color:#53FF53;
}
.menu > ol > li:nth-child(7) {
  --accent-color:#C1FFE4;
  --gradient-color:#79FF79;
}

.menu > ol > li a {
  color: #353535;
  display: block;
  padding: 15px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.menu > ol > li a:hover{
  color: #fff;
}
.menu > ol > li a:not(:last-child):before {
  content: "";
  font-size: 0.75em;
  line-height: 50px;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}
.menu > ol > li:focus,
.menu > ol > li:focus-within,
.menu > ol > li:hover {
  z-index: 100;
}
.menu > ol > li:focus:after,
.menu > ol > li:focus-within:after,
.menu > ol > li:hover:after {
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  max-width: 800px;
}
.menu > ol > li:focus .sub-menu,
.menu > ol > li:focus-within .sub-menu {
  max-height: 500px;
}
.menu > ol > li:focus a:before,
.menu > ol > li:focus-within a:before {
  transform: rotate(-180deg);
}
.menu > ol > li:after {
  background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
}
.menu > ol .sub-menu {
  border-left: 1px solid #FBFBFB;
  margin-left: 22.5px;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  padding-left: 7.5px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.menu > ol .sub-menu li {
  font-size: 0.9em;
}
.menu > ol .sub-menu li:hover,
.menu > ol .sub-menu li a:focus {
  background: rgba(255, 255, 255, 0.3);
}
.menu > ol .sub-menu li a:after {
  bottom: 5px;
  height: 1px;
}
.menu > ol .sub-menu li a:hover:after,
.menu > ol .sub-menu li a:focus:after {
  width: 15px;
}
@media (min-width: 600px) {
  .navbara:focus,
  .navbara:hover {
    position: relative;
  }
  .navbara:focus:after,
  .navbara:hover:after {
    width: 50px;
  }
  .navbara:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu > ol {
    display: block;
    max-width: none;
    text-align: center;
  }
  .menu > ol > li {
    border-top: 5px solid var(--accent-color);
    border-left: 0;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    width: 120px;
  }
  .menu > ol > li:hover:after,
  .menu > ol > li:focus:after,
  .menu > ol > li:focus-within:after {
    background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
    border-radius: 3px;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
  .menu > ol > li:hover .sub-menu,
  .menu > ol > li:focus .sub-menu,
  .menu > ol > li:focus-within .sub-menu {
    max-height: 750px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 12.5px;
  }
  .menu > ol > li:hover a:before {
    transform: rotate(-180deg);
  }
  .menu > ol .sub-menu {
    border-left: 0;
    margin: 15px -15px -15px;
    padding-left: 0;
  }
}
@media (min-width: 775px) {
  .menu > ol > li {
    width: 150px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 25px;
  }
}