 .container{
    display:flex;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top: 10px solid #C9D8BF;
    /* margin-top:20px; */
    /* margin-left:20%; */
    /* margin-right:20%; */
    margin-bottom: 3%;
  }
  .article-page{
    padding:5%;
    margin: auto;
    width: 100%;
  }
  .text-h{
    display:inline;
    font-family:'Lato', sans-serif;
    margin-right: 17%;
  }
  .text-sub{
    font-family:'Lato', sans-serif;
    font-size:14px;
  }
  .button-drop{
    border:black;
    font-family:'Lato', sans-serif;
    margin-left:12px;
    margin-top: 20px;
  }
  .dropdown{
    display:inline-block;
  }
  .button-drop{
    background-color: #325b43;
    color:white;
    height: 50%;
    padding: 0 6px;
    margin-right: 0px;
    font-size:x-large;
    border-radius: 5px;
  }
  .dropdown-content{
    display:none;
  }
  .dropdown-content a{
    color:white;
    height:25px;
    padding:0 6px;
  }
  .image-img1{
    width:50%;
    /* float:left;
    clear:left;*/
    padding-right:20px;
    overflow:auto; 
  }
 .text-p , .text-p2{
    display:block;
    font-family:'Lato', sans-serif;
    font-size:14px;
  }
  /* .image-img2{
    width:50%;
    float:right;
    clear:right;
    padding-left:20px;
    padding-top: 20px;
 
  }
  .clearfix{
    預設會自動使用捲軸
    overflow:auto;
  } */