.blog-card{
	display: flex;
	justify-content: center;	
	border-top:	white 1px solid;
	border-left: white 1px solid;
	border-radius:30px;
	width:80%;
	margin:30px auto;
	padding:20px 30px 50px 20px;
	box-shadow: 5px 5px 10px #D0D0D0;
}

.rightC{
/* 	width:200px; */
	padding:20px;	
	
}


.floatR{
	
	float:right;
	padding:10px;
}

.floatR2{
	display: flex;
	justify-content: flex-end;
	
/* 	float:right; */
	padding:10px;
}

h1{
	color:#218380;
}
h3{
	color:#adb5bd;
}
p{
	color:#252422;
}
h2{
	color:#e76f51;
	font-style: Italic;
}
