@charset "UTF-8";
#mainWrapper2 {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

body * {
	font-family: '微軟正黑體';
}

#offer{
	border:1px solid #C9D8BF;
	margin-top: 120px;
	padding-top:25px;
	background-color: #C9D8BF;
	width: 100%;
	height: 290px;
}

#uk_breadcrumb {
	flex-wrap: wrap;
	list-style: none;
	display: flex;
	font-size: 18px;
}

#uk_breadcrumb li a {
	text-decoration: none;
}

#h3css {
	font-family: '微軟正黑體';
	color: #FF4D00;
}

#h3css2 {
	font-family: '微軟正黑體';
	color: #007FFF;
}

#pcss {
	font-family: '微軟正黑體';
	color: #B22222;
}

#linechart {
	width: 1200px;
	height: 300px;
}

.thumbnail {
	float: left;
	width: 320px;
	margin-left: 30px;
	margin-right: 25px;
	margin-top: 30px;
}

.page-icon {
	margin: 20px 0 0 0;
	/*設置距離頂部20像素*/
	font-size: 0;
	/*修復行內元素之間空隙間隔*/
	text-align: center;
	/*設置內容居中顯示*/
}

/*設置共有的的樣式佈局，主要是進行代碼優化，提高運行效率*/
.page-icon a, .page-disabled, .page-next {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 4px 10px 5px;
	font-size: 14PX;
	/*修復行內元素之間空隙間隔*/
	margin-right: 10px;
}

/*對 a 標籤進行樣式佈局 */
.page-icon a {
	text-decoration: none;
	/*取消鏈接的下劃線*/
	color: #005aa0;
}

.page-current {
	color: #ff6600;
	padding: 4px 10px 5px;
	font-size: 14PX;
	/*修復行內元素之間空隙間隔*/
}

.page-disabled {
	color: #ccc;
}

.page-next i, .page-disabled i {
	cursor: pointer;
	/*設置鼠標經過時的顯示狀態，這裏設置的是顯示狀態爲小手狀態*/
	display: inline-block;
	/*設置顯示的方式爲行內塊元素*/
	width: 5px;
	height: 9px;
	background-image:
		url(http://img.mukewang.com/547fdbc60001bab900880700.gif);
	/*獲取圖標的背景鏈接*/
}

.page-disabled i {
	background-position: -80px -608px;
	margin-right: 3px;
}

.page-next i {
	background-position: -62px -608px;
	margin-left: 3px;
}

.main {
  width: 80%;
  margin: 20px auto;
}
table {
  border-spacing: 0;
  width: 100%;
}
tr {
  text-align: center;
}
th {
  padding: 10px;
  background-color: #96FED1;
}
table tbody tr:nth-child(odd){
  background-color: #D1E9E9;
}
table thead {
  background-color: blue;
  color: white;
}
table thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid blue;
}
table thead th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid blue;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
